.vscode/**
.vscode-test/**
src/**
!src/templates/**
!src/styles/**
!src/scripts/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.gitignore
.git
scripts/**
node_modules/**
!node_modules/**/*.js
!node_modules/**/*.json
!node_modules/**/LICENSE*
!node_modules/**/license*
!node_modules/**/readme*
!docs/**
!docs/images/**
.github/**
coverage/**
test/**
**/*.vsix